@use "../../global.scss" as g;

.portfoliolist {
  font-size: 14px;
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;

  @include g.mobile {
    margin-right: 20px;
  }

  &.active {
    background-color: $g.mainColor;
    color: white;
  }
}
